<!-- Login Overlay modal-->	
    <div class="modal fade" id="config-overlay" tabindex="-1" role="dialog" aria-labelledby="config-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">	
	<div class="modal-content">
	<script type="text/ng-template" id="config-overlay.html">
		<div class="modal-header">			
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Configurações</h4>
		</div>
		<div class="modal-body">
		      <div class="well">
			  <div class="table-responsive">
			  	<div class="row">
			  	<div class="col-lg-12">
				<table class="table table-striped">
				<thead>						
					<tr>						
						<th class="col-lg-6">
							&Iacute;cone/Nome 
							<a data-ng-click="sortBy='nome'" class="glyphicon glyphicon-chevron-down"></a><a data-ng-click="sortBy='-nome'" class="glyphicon glyphicon-chevron-up"></a>
						</th>				
						<th class="col-lg-3">
							Cor
							<a data-ng-click="sortBy='cor'" class="glyphicon glyphicon-chevron-down"></a><a data-ng-click="sortBy='-cor'" class="glyphicon glyphicon-chevron-up"></a>
						</th>						
						<th class="col-lg-3">
							A&ccedil;&otilde;es
						</th>
					</tr>					
				</thead>
				<tbody>					
					<tr data-ng-repeat="item in listViewItems | orderBy:sortBy" class="animate-repeat" >						
						<td class="col-lg-6">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" data-search-text="Pesquisar..." data-iconset="fontawesome" data-icon="{{item.icone}}" role="iconpicker" ng-disabled="disabled"></button>
							</span>							
							<input type="text" class="form-control" data-ng-model="item.nome" ng-disabled="disabled" />
						</div>
						</td>
						<td  class="col-lg-3"> 
						<div id="colorPicker{{item.id}}" class="colorPicker" ng-disabled="disabled">
							<a class="color"><div class="colorInner"></div></a>
							<div class="track"></div>
							<ul class="dropdown"><li></li></ul>
							<input type="hidden" class="colorInput" data-ng-model="item.cor"/>
						</div>
						</td>						
						<td  class="col-lg-3">							
							<a class="animate-hide" ng-click="saveItem($index)" ng-show="disabled"><i class="fa fa-archive fa-fw"></i></a>
							<a class="animate-hide" ng-click="cancelItem($index)" ng-show="disabled"><i class="fa fa-ban fa-fw"></i></a>
							<a class="animate-hide" ng-click="updateItem($index)" ng-hide="disabled"><i class="fa fa-pencil fa-fw"></i></a>
							<a ng-click="removeItem($index)"><i class="fa fa-times fa-fw"></i></a>
						</td>						
					</tr>
				</tbody>
				</table>
				</div>		
				<div>
					<button class='btn btn-default btn-block' ng-click="addItem()"><i class="fa fa-cogs fa-fw"></i>&nbsp; Nova rodada</button>
				</div>				
			</div><!-- Table -->
		      </div><!-- well -->
		</div><!-- col-xs-12 -->		  
		</div><!-- row -->
		</div><!-- modal-body -->
	</script>
	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
    </div>
